

<!-- <h2>{{today|date:'medium'}}</h2> -->
<!-- <h2>{{Text | angularCLI:33 }}</h2> -->
<!-- <button (click)="add()">Add New Test Data</button>

<ul>
  <li *ngFor="let test of testList ,let i =index">{{ test.testHead
    }}
    <button (click)="delete(i)">Delete</button></li>
</ul> -->

<!-- <app-new-form></app-new-form> -->

<!-- <app-third-form></app-third-form> -->
<!-- <p>Routing To Post</p> -->

<!-- <button routerLink="/"> Click To Home</button>
<button routerLink="/post">Click TO Route </button>
<button routerLink="/form">Click TO Form 1 </button>
<button routerLink="/new-form">Click TO Form 2 </button>
<button routerLink="/third-form">Click TO Form 3 </button>


-->

<!-- <button routerLink="/">Home</button> -->
<router-outlet></router-outlet> 




